$elements: 3;
@for $i from 0 to $elements {
  li:nth-child(#{$i + 1}) {
    background-color: #d4d4d2;

    span {
      color: #1c1c1c;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      cursor: pointer;
      font-size: 2.5em;
    }
  }
}

$elements: 16;
@for $i from 1 to $elements {
  li:nth-child(#{$i + 4}) {
    background-color: #505050;

    span {
      color: #d4d4d2;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      cursor: pointer;
      font-size: 2.5em;
    }
  }
}

.layout {
  height: 100%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  

  .result {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
    padding-right: 1rem;
	font-size: 7em;
	height: 30%;
  }

  .pad {
    padding: 1em 1em;
    background-color: transparent;
    ul {
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1em;

      li {
        padding-bottom: 100%;
        position: relative;

        border-radius: 50%;

        &:nth-child(4),
        &:nth-child(8),
        &:nth-child(12),
        &:nth-child(16) {
          background-color: #ff9500;
          color: #d4d4d2;

          span {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            cursor: pointer;
            font-size: 2.5em;
          }
        }
      }
    }
  }
}
